@tailwind base;
@tailwind components;
@tailwind utilities;

/* proza-libre-regular - latin */
@font-face {
  font-family: "Proza Libre";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/proza-libre-v5-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("/fonts/proza-libre-v5-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("/fonts/proza-libre-v5-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("/fonts/proza-libre-v5-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("/fonts/proza-libre-v5-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("/fonts/proza-libre-v5-latin-regular.svg#ProzaLibre") format("svg"); /* Legacy iOS */
}
/* proza-libre-500 - latin */
@font-face {
  font-family: "Proza Libre";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/proza-libre-v5-latin-500.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("/fonts/proza-libre-v5-latin-500.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("/fonts/proza-libre-v5-latin-500.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/fonts/proza-libre-v5-latin-500.woff")
      format("woff"),
    /* Modern Browsers */ url("/fonts/proza-libre-v5-latin-500.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("/fonts/proza-libre-v5-latin-500.svg#ProzaLibre") format("svg"); /* Legacy iOS */
}
/* proza-libre-600 - latin */
@font-face {
  font-family: "Proza Libre";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/proza-libre-v5-latin-600.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("/fonts/proza-libre-v5-latin-600.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("/fonts/proza-libre-v5-latin-600.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/fonts/proza-libre-v5-latin-600.woff")
      format("woff"),
    /* Modern Browsers */ url("/fonts/proza-libre-v5-latin-600.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("/fonts/proza-libre-v5-latin-600.svg#ProzaLibre") format("svg"); /* Legacy iOS */
}
/* proza-libre-700 - latin */
@font-face {
  font-family: "Proza Libre";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/proza-libre-v5-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("/fonts/proza-libre-v5-latin-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("/fonts/proza-libre-v5-latin-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/fonts/proza-libre-v5-latin-700.woff")
      format("woff"),
    /* Modern Browsers */ url("/fonts/proza-libre-v5-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("/fonts/proza-libre-v5-latin-700.svg#ProzaLibre") format("svg"); /* Legacy iOS */
}
/* proza-libre-800 - latin */
@font-face {
  font-family: "Proza Libre";
  font-style: normal;
  font-weight: 800;
  src: url("/fonts/proza-libre-v5-latin-800.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("/fonts/proza-libre-v5-latin-800.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("/fonts/proza-libre-v5-latin-800.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/fonts/proza-libre-v5-latin-800.woff")
      format("woff"),
    /* Modern Browsers */ url("/fonts/proza-libre-v5-latin-800.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("/fonts/proza-libre-v5-latin-800.svg#ProzaLibre") format("svg"); /* Legacy iOS */
}
/* karla-regular - latin */
@font-face {
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("/fonts/karla-v15-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("/fonts/karla-v15-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* karla-500 - latin */
@font-face {
  font-family: "Karla";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("/fonts/karla-v15-latin-500.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("/fonts/karla-v15-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* karla-600 - latin */
@font-face {
  font-family: "Karla";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("/fonts/karla-v15-latin-600.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("/fonts/karla-v15-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* karla-700 - latin */
@font-face {
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("/fonts/karla-v15-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("/fonts/karla-v15-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* karla-800 - latin */
@font-face {
  font-family: "Karla";
  font-style: normal;
  font-weight: 800;
  src: local(""), url("/fonts/karla-v15-latin-800.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("/fonts/karla-v15-latin-800.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* karla-italic - latin */
@font-face {
  font-family: "Karla";
  font-style: italic;
  font-weight: 400;
  src: local(""), url("/fonts/karla-v15-latin-italic.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("/fonts/karla-v15-latin-italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
  font-family: Karla, "Open Sans", Helvetica, Arial, sans-serif;
}

.main-font {
  font-family: "Proza Libre", "Open Sans", Helvetica, Arial, sans-serif;
}

.main-text {
  background: #5b86e5; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #5b86e5,
    #36d1dc
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #5b86e5,
    #36d1dc
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  font-family: "Proza Libre", "Open Sans", Helvetica, Arial, sans-serif;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.headline {
  font-size: clamp(2.1rem, 3vw, 10rem);
}

/* Animations */
@-webkit-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-webkit-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
.bg-infinity {
  /* img size is 50x50 */
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC")
    repeat 0 0;
  -webkit-animation: bg-scrolling-reverse 1s infinite;
  /* Safari 4+ */
  -moz-animation: bg-scrolling-reverse 1s infinite;
  /* Fx 5+ */
  -o-animation: bg-scrolling-reverse 1s infinite;
  /* Opera 12+ */
  animation: bg-scrolling-reverse 1s infinite;
  /* IE 10+ */
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
}
